.op-0{
    opacity: 0;
    transition: all 1.5s linear;
    transition-delay: 1s;
}

//right
.animate--x {
    opacity: 0;
    transform: translateX(20%);
    transition: all .5s ease-in-out;

    @media(max-width:576px){
        transform: translateX(5%);
    }
}

.fr {
    opacity: 1;
    transform: translateX(0);
}

//left
.animate-x {
    opacity: 0;
    transform: translateX(-20%);
    transition: all .5s ease-out;

    @media(max-width:576px){
        transform: translateX(-5%);
    }

    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        transform: translateX(-13%);
    }
}

.fl {
    opacity: 1;
    transform: translateX(0) !important;
}


//bottom

.scale-0{
    transition: all 1s ease-out;
    transform: scale(0);
}

.scale{
    transform: scale(1) !important;    
}

.bottom {
    opacity: 0;
    transform: translateY(20%);
    transition: all .5s ease-out;

    @media(max-width:576px){
        opacity: 1;
        transform: translateY(0%);
    }
}

.fb{
    opacity: 1;
    transform:  translateY(0);    
    transition-delay: .8s;
}

.animate-y{
    opacity: 0;    
    transition: all .5s ease-out;

    @media(max-width:576px){
        opacity: 1;
    }
}

.fbm{
    opacity: 1;
    // transform: translateY(-5%);    
}