@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

$text-font:'Open Sans', sans-serif;

$text-color: #29363A;
$btn-color: #009cdc;
$btn-text-color: #fff