.e-one {
    position: absolute;
    z-index: 2;
    top: 10%;
    right: -19%;

    @media (max-width:1400px){
        top: 13%;     
    }

    @media (max-width:576px) {
        display: none;
    }
   
    img{
        width: 480px;
        height: 472px;
        transition: all 1s ease-in-out;

        &:hover{
            transform: translateX(-6%);
        }

        @media (max-width:1400px){
            width: 320px;
            height: 315px;     
        }
    }
}

.e-two {
    position: absolute;
    z-index: 2;
    top: -20%;
    left: -20%;

    @media (min-width: 1900px){
        left: 0;
    }

    @media (max-width:576px) {
        display: none;
    }
   
    img{
        width: 960px;
        height: 1073px;
        transition: all 1s ease-in-out;

        &:hover{
            transform: translateX(6%);
        }


        @media (max-width:1400px){
            width: 640px;
            height: 715px;
        }
    }
}

.e-three {
    position: absolute;
    z-index: 2;
    top: -50%;
    right: -20%;

    @media(max-width:1400px){
        top: -25%;
        right: -15%;
    }

    @media (min-width: 1900px){
        right: 0;
    }

    @media (max-width:576px) {
        display: none;
    }
    
    img{
        width: 960px;
        height: 1073px;
        transition: all 1s ease-in-out;

        &:hover{
            transform: translateX(-6%);
        }
        
        @media(max-width:1400px){
            width: 720px;
            height: 623px;
        }
    }
}

.e-four {
    position: absolute;
    z-index: 2;
    top: -20%;
    right: 0%;
    left: -4%;

    @media (max-width:1400px){
        top: -15%;      
    }

    @media (min-width: 1900px){
        left: 10%;
    }

    @media (max-width:576px) {
        top: -21%;
        left: -60%;
    }
    
    img{
        width: 2400px;
        height: 659px;
        transition: all 1s ease-in-out;

        &:hover{
            transform: translateX(-2%);
        }

        @media (max-width:1400px){
            width: 1600px;
            height: 439px;     
        }
    }
}

.e-five {
    position: absolute;
    z-index: 2;
    top: -45%;
    right: 0%;
    left: -4%;

    @media (max-width:1400px){
        top: -43%;      
    }

    @media (min-width: 1900px){
        left: 10%;
    }
    
    @media (max-width:576px) {
        top: -30%;
        left: -60%;
    }

    img{
        width: 2400px;
        height: 541px;
        transition: all 1s ease-in-out;

        &:hover{
            transform: translateX(-2%);
        }

        @media (max-width:1400px){
            width: 1920px;
            height: 433px;     
        }
    }
}

.e-six {
    position: absolute;
    z-index: 2;
    top: -40%;
    right: -20%;

    @media (max-width:1400px){
        right: -10%;
    }

    @media (min-width: 1900px){
        right: 0;
    }
   
    @media (max-width:576px) {
        display: none;
    }

    img{
        width: 960px;
        height: 1073px;
        transition: all 1s ease-in-out;

        &:hover{
            transform: translateX(-6%);
        }

        @media (max-width:1400px){
            width: 640px;
            height: 715px;
        }
    }
}

.e-seven {
    position: absolute;
    z-index: 2;
    top: -35%;
    left: -10%;

    @media (max-width:1400px){
        top: -30%;
        left: -15%;
    }

    @media (min-width: 1900px){
        left: 10%;
    }
   
    @media (max-width:576px) {
        display: none;
    }
    
    img{
        width: 640px;
        height: 855px;
        transition: all 1s ease-in-out;

        &:hover{
            transform: translateX(6%);
        }

        @media (max-width:1400px){
            width: 560px;
            height: 598px;
        }
    }
}