.show{
    display: block !important;
}

#menu_checkbox {
    display: none;

    &:checked + .menu_checkbox div:first-child {
        width: 22px;
        top: 0px;
        left: 0px;
        transform: rotateZ(45deg);
    }

    &:checked + .menu_checkbox div:last-child {
        width: 22px;       
        transform: rotateZ(-45deg);
    }

    &:checked + .menu_checkbox div:nth-child(2) {
        width: 25px;
        top: 1px;
        right: 3px;     
        opacity: 0;
    }
}

.menu_checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;

    @media (min-width:576px) {
        display: none;
    }

     /* Portrait */
     @media only screen 
     and (min-device-width: 768px) 
     and (max-device-width: 1024px) 
     and (orientation: portrait) 
     and (-webkit-min-device-pixel-ratio: 1) {
        display: block;
     }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
    display: block;
    }      
    
    div {
        position: relative;
        top: 0;
        height: 2px;
        background-color: currentColor;
        margin-bottom: 6px;
        transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
            0.3s ease right;
        border-radius: 2px;

        &:first-child {
            transform-origin: 0;
        }

        &:last-child {
            margin-bottom: 0;
            transform-origin: 0;
        }

        &:nth-child(2) {
            opacity: 1;
            right: 0;
            width: 20px;
        }
    }        
}