.s-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    .swiper-flex {
        display: flex;
        flex-direction: column;    
        justify-content: center;
        height: 100%;
    }

    .caption{
        color: $btn-text-color;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 15%;
        width: 100%;
        padding: 0 6%;

        @media(max-width:576px){
            justify-content: flex-end;
            height: 80%;
        }

        h2{
            font-size: 6rem;

            @media(max-width:1400px){
                font-size: 4rem;
            }

            @media(max-width:576px){
                font-size: 2rem;
            }
        }

        .child {
            font-size: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3{
                font-weight: 400;

                @media(max-width:1400px){
                    font-size: 1.3rem;
                }
                
                @media(max-width:576px){
                    font-size: 1rem;
                }
            }

            .btn{
                font-size: 1.5rem;

                @media(max-width:1400px){
                    font-size: 1.1rem;
                }

                @media(max-width:576px){
                    position: absolute;
                    top: 0%;
                    left: 6%;
                }
            }
        }
    }
}

.img-1, .img-2, .img-3, .img-4 {
    height: 748.64px;

    @media (max-width:1400px){
        height: 548.05px;
    }

    @media(max-width:576px){
        border-radius: 25px;
        height: 700px;
    }
}

.img-1 {
    background: url('/img/Image-1.webp');
    background-repeat: no-repeat;
   

    @media(max-width:576px){
        background: url('/img/mobile-img/s1-image-1.webp');       
    }
}

.img-2 {
    background: url('/img/Image-2.webp');
    background-repeat: no-repeat;

    @media(max-width:576px){
        background: url('/img/mobile-img/s1-image-2.webp');       
    }
}

.img-3 {
    background: url('/img/Image-3.webp');
    background-repeat: no-repeat;
   
    @media(max-width:576px){
        background: url('/img/mobile-img/s1-image-3.webp');       
    }
}

.img-4 {
    background: url('/img/Image-4.webp');
    background-repeat: no-repeat;

    @media(max-width:576px){
        background: url('/img/mobile-img/s1-image-4.webp');       
    }
}