
.s2-flex {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    z-index: 5;

    @media (max-width:576px) {
        flex-direction: column;
        gap: 3rem;
    }

    // div {

    //     &:nth-child(1){
    //         width: 50%;
    //     }
       

    //     &:nth-child(2){
    //         width: 30%;

    //         @media(max-width:1400px){
    //             width: 36%;
    //         }
    //     }
    // }

    .description{
        width: 50%;

        @media (max-width:576px) {
            width: 100%;
            height: 168px;
        }

        h2{
            transform-origin: 0;
            font-size: 4.5rem;

            @media(max-width:1400px){
                font-size: 3.5rem;
            }

            @media (max-width:576px) {
                font-size: 2rem;
            }
        }    

        h3{
            font-size: 1.5rem;

            @media(max-width:1400px){
                font-size: 1.3rem;
            }

            @media (max-width:576px) {
                font-size: 1rem;
            }
        }
    }

    .benefits{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        gap: 2rem;

        .material-symbols-outlined{
            font-size: 6rem;
            color: #4cb9e6;
            padding: 2rem;
            border-radius: 25px;
            box-shadow: 8px 8px 24px #4cb9e64d;
            transition: all .3s linear;
        }

        svg {
            padding: 2rem;
            border-radius: 25px;
            box-shadow: 8px 8px 24px #4cb9e64d;
            transition: all .3s linear;

            @media (max-width:576px) {
                width: 120px;
                height: 120px;
            }
        }
    }
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0% {opacity: .4;} 
    100% {opacity: 1;}
}

.logo-active {
    background-color: #4cb9e6;
    color: #fff !important;
    transform: scale(1.05);

    path {
        fill: white;
    }
}

.description {display: none;}