.s4{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 5;

    .mockup-1{
        .img-transition {
            img{
               margin-top: 2rem;
            }
        }
    }

    .mockup-2{
        flex-direction: row-reverse;
        align-items: flex-end;
    }

    .mockup-1, .mockup-2{
        position: relative;
        display: flex;
        width: 50%;

        h2{
            font-size: 3.5rem;

            @media (max-width:1400px){
                font-size: 3rem;;
            }
        }
        
        .img-transition {
            img{
                width: 400px;
                height: 646px;

                @media (max-width:1400px){
                    width: 320px;
                    height: 517px;
                }

                @media(max-width:576px){
                    width: 160px;
                    height: 258px;
                }
            }
        }
        
        .caption-1 {
            position: absolute;
            top: 19%;
            right: -8%;      

            @media (max-width:1400px){
                right: -14%;
            }

            @media(max-width:576px){
                left: 100%;
                top: 09%;
                background: #000;
                width: 100%;
            }
        }    

        .caption-2 {
            position: absolute;
            bottom: 20%;
            right: 50%;

            @media (max-width:1400px){
                right: 53%;
            }

            @media(max-width:576px){
                right: 85%;
                bottom: 10%;
            }

            .link {
                justify-content: flex-end;
            }
        }    
        
        .app-link{     
            
            h2{
                color: #fff ;

                @media(max-width:576px){
                    font-size: 2rem;
                }
            }      

            .link{
                display: flex;
                gap: 1rem;

                @media(max-width:576px){
                    flex-direction: column;
                }

                img{
                    width: 160px;
                    height: 42px;

                    @media (max-width:1400px){
                        width: 112px;
                        height: 29px;
                    }
                }
            }
        }
    }
}