.s5 {
    z-index: 5;
    
    .seller-link {
        color: $btn-text-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 10%;
        padding: 0 6%;

        @media(max-width:576px) {
            flex-direction: column;
            align-items: flex-start;
        }

        h2{
            font-size: 3rem;

            @media (max-width:1400px){
                font-size: 2rem;
            }
        }

        a{
            font-size: 1.5rem;

            @media (max-width:1400px){
                font-size: 1.1rem;
            }

            @media(max-width:576px) {
                font-size: 1rem;
            }
        }
    }

    .caption {
        h2{
            font-size: 4rem;

            @media (max-width:1400px){
                font-size: 3rem;
            }

            @media(max-width:576px) {
                font-size: 2rem;
            }
        }

        .caption-img {
            position: absolute;
            width: 352px;
            height: 530px;
            right: 8%;
            transform: translateY(-6%);         

            @media (max-width:1400px){
                width: 240px;
                height: 387px;
            }
        }
    }

    .swiper {
        overflow: visible; 
    }

}

.s5-img-1{
    background: url('/img/s5-Image-1.webp');
    background-repeat: no-repeat;
    height: 709.59px;

    @media(max-width:1400px){
        height: 519.46px;
    }
}

.s5-img-2{
    background: url('/img/s5-Image-2.webp');
    background-repeat: no-repeat;
    height: 709.59px;

    @media(max-width:1400px){
        height: 519.46px;
    }
}

.s5-img-3{
    background: url('/img/s5-Image-3.webp');
    background-repeat: no-repeat;
    height: 709.59px;

    @media(max-width:1400px){
        height: 519.46px;
    }
}

.s5-img-4{
    background: url('/img/s5-Image-4.webp');
    background-repeat: no-repeat;
    height: 709.59px;

    @media(max-width:1400px){
        height: 519.46px;
    }
}
