.s6 {
    gap: 3rem;
    z-index: 5;

    // .swiper{
    //     height: auto;
    // }

    .reverse.caption{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        text-align: end;

        @media(max-width:576px){
            gap: 1rem;
        }

        img{
            width:208px !important;
            height: 413px !important;

            @media (max-width:1400px){
                width: 160px !important;
                height: 317px !important;
            }

            @media(max-width:576px){
                width: 96px !important;
                height: 191px !important;
            }
        }
    }

    .caption {
        h2 {
            @media(max-width:576px){
                font-size: 1.5rem;;
            }
        }
    }
    
    .testimonial {
        p{
            margin-bottom: 0;
        }

        .scale-0{
            transition: all .3s ease-out;
            transform: scale(0);
        }
    }

    .testimonial.swiper{
        height: auto;

        .swiper-slide {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem; 

            @media(max-width:576px){
                padding: 0 3rem;
            }

            &:nth-child(2){
                .fb{
                    transition-delay: 1.3s;
                }
            }

            &:nth-child(3){
                .fb{
                    transition-delay: 1.8s;
                }
            }

            img{
                width: 144px;
                height: 144px;
                transform: scale(0);
                transition: all 1s ease-in-out;

                @media(max-width:1400px){
                    width: 100px;
                    height: 100px;
                }
            }

            p{
                text-align: start;
                font-size: 1.1rem;
                font-weight: 600;

                @media (max-width:1400px){
                    font-size: 1rem;
                }
            }
        }

        .swiper-button-next, .swiper-button-prev{
            @media (min-width:576px) {
                display: none;
            }
        }
    }
}

.s6-img-1, .s6-img-2, .s6-img-3, .s6-img-4{
    @media(max-width:576px){
        border-radius: 25px;
    }
}

.s6-img-1{
    background: url('/img/s6-Image-1.webp');
    background-repeat: no-repeat;
    height: 604.85px;

    @media (max-width:1400px){
        height: 442.79px;
    }
}

.s6-img-2{
    background: url('/img/s6-Image-2.webp');
    background-repeat: no-repeat;
    height: 604.85px;

    @media (max-width:1400px){
        height: 442.79px;
    }
}

.s6-img-3{
    background: url('/img/s6-Image-3.webp');
    background-repeat: no-repeat;
    height: 604.85px;

    @media (max-width:1400px){
        height: 442.79px;
    }
}

.s6-img-4{
    background: url('/img/s6-Image-4.webp');
    background-repeat: no-repeat;
    height: 604.85px;

    @media (max-width:1400px){
        height: 442.79px;
    }
}

.scale{
    transform: scale(1) !important;
}

.bottom {
    opacity: 0;
    transform: translateY(50%);
    transition: all .5s ease-out;
}

.fb{
    opacity: 1;
    transform:  translateY(0);    
    transition-delay: .8s;
}