.s6 {
    gap: 3rem;
    z-index: 5;

    // .swiper{
    //     height: auto;
    // }

    .reverse.caption{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        text-align: end;

        img{
            width:208px !important;
            height: 413px !important;

            @media (max-width:1400px){
                width: 160px !important;
                height: 317px !important;
            }
        }
    }
    
    .testimonial.swiper{
        height: auto;

        .swiper-slide {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem; 

            img{
                width: 144px;
                height: 144px;

                @media(max-width:1400px){
                    width: 100px;
                    height: 100px;
                }
            }

            p{
                text-align: start;
                font-size: 1.1rem;
                font-weight: 600;

                @media (max-width:1400px){
                    font-size: 1rem;
                }
            }
        }
    }
}

.s6-img-1{
    background: url('/img/s6-Image-1.webp');
    background-repeat: no-repeat;
    height: 604.85px;

    @media (max-width:1400px){
        height: 442.79px;
    }
}

.s6-img-2{
    background: url('/img/s6-Image-2.webp');
    background-repeat: no-repeat;
    height: 604.85px;

    @media (max-width:1400px){
        height: 442.79px;
    }
}

.s6-img-3{
    background: url('/img/s6-Image-3.webp');
    background-repeat: no-repeat;
    height: 604.85px;

    @media (max-width:1400px){
        height: 442.79px;
    }
}

.s6-img-4{
    background: url('/img/s6-Image-4.webp');
    background-repeat: no-repeat;
    height: 604.85px;

    @media (max-width:1400px){
        height: 442.79px;
    }
}