.swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
        position: relative;
        background-position: center;
        background-size: cover;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  width: 5%;
  height: .7rem;
  border-radius: 5px;
}

.swiper-pagination-bullet-active{
  background-color: $btn-text-color;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 1.5%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 5%;
}

.swiper-button-next, .swiper-button-prev{
  display: none;
  color: currentColor;

  @media (max-width:576px){
    display: block;
  }
}