@import 'default';
@import 'animations';
@import 'elements';
@import 'hamburger';
@import 'header';
@import 's1';
@import 's2';
@import 's3';
@import 's4';
@import 's5';
@import 's6';
@import 's7';
@import 'swiper';
@import 'contact';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    color: $text-color;
    font-family: $text-font;
}

:root{
    @media (-webkit-min-device-pixel-ratio: 1.25) { 
        zoom: 1;   
    }
}

p{
    margin-bottom: 1rem;
}

a{
    color: $text-color;
    display: block;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    margin-bottom: .5rem;
}

.s-overflow{
    overflow: hidden;
}

.h-100{
     height: 100%;
}

.fp-watermark {
    display: none;
}

.overflow-visible{
    overflow: visible;
}

.container{
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    @media(min-width: 1400px){
        max-width: 1366px;
    }

    @media(max-width:576px){
        padding: 0 1.5rem;;
    }
}

.w-85 {
    width: 85%;
}

.fs-justify-start{
    justify-content: flex-start;
}

.btn {
    cursor: pointer;
    color: $btn-text-color;
    border-radius: 50px;
    background-color: $btn-color;
    padding: .7rem 1rem;
    border: none;
}

.mt-1{
    margin-top: 1%;
}